/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

 html,
 body,
 *{
     margin:0;
     padding:0;
     padding: 0%;
     margin: 0%;
     box-sizing: border-box;
     font-size: 62.5%;
     text-align: center;
     font-family: 'Finlandica', sans-serif;
 }

body {

}

.heading{
  background-color: white ;
  padding: 4rem;
  border-bottom: solid black 3px;
}

.searcheading{
  padding: 30px;
}

.lamiibo{
color: black;
 }


 
 .lamiibo, #input {
  font-size: 5rem;
 }



 .button{
  font-size: 50px;
  margin: 1rem;
  color: white;
  padding: 1rem;
  background-color: var(--primary) ;
  justify-content: center;
  text-align: center;
  border: var(--primary) ; 
  border-radius: 5px;
  transition: 0.2s;
 }




 .deletelabel{
  padding: .5rem  ;
  display: flex;
 }

.unfound{
  font-size: 4rem;
}

#noamiibo{
  margin: 2rem;
}

#errorbutton{
  background-color: black;
}



.info{
  margin: 1rem;
}

.card{
  width: 900rem;
  max-width: fit-content;
  margin: 5rem;
  border: solid 5px var(--primary) ;
  border-radius: 10px;
  padding: 2rem ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: white;
  transition: ease-in .2s;
/*   background-image: url("https://cdn.discordapp.com/attachments/789594843545731103/1068555140820369460/Amiibo_background.png") ;
  background-size: 10rem;
  background-repeat: repeat;
  background-position: center 25px;
opacity: .3; */
}

.cardType{
  font-size: 1.5rem;
  margin: 10px;
}


.cardText{
  font-size: 3rem;
}
 .cardImage{
scale: 3rem ;
position: relative;
 }

 .cardRelease{
  margin: 6px;
  font-size: 2rem;
 }

/*   .cardbackground{
  width: 20rem;
  border: solid red 10px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
 } */
 
 #display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  overflow: hidden;
  position: relative;
 }



/* #displayimage{
  width: 500rem;
  opacity: .4;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  z-index: -1;
  transition: all  .2s;
 background-repeat: repeat;
} */

 .button:hover{
  transform: scale(1.2);
  background-color: var(--tdarkred);
   }


/* .card:hover ~ #displayimage {
  opacity: .8;
  transform: scale(1.05);
} */

.card:hover{
  box-shadow: var(--tdarkred) 2rem 2rem 3px;
  translate: (0, -5px)  ;
}

.card:hover ~ #display {

}

 :root {
  --tred: #F30B0B;
  --tdarkred: #d60b0b;
  /* Intentions */
  --primary: var(--tred) ;
  --secondary: var(--tdarkred);
 }

.RED{
  --primary: var(--tred) ;
  --secondary: var(--tdarkred);
}